.page {
  max-width: 1279px;
  margin: auto;
  background: #2a2c2f;
  font-family: 'inter', 'Helvetica Neue', Arial, sans-serif;
  color: white;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
