.place__artist-label {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0 auto 8px;
  grid-area: artist;
}

@media screen and (max-width: 767px) {
  .place__artist-label {
    margin: 0 auto 12px;
  }
}
