.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 25px 0 0;
}

.place__paragraph:first-of-type {
  margin-top: 0px;
}

@media screen and (max-width: 778px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 330px) {
  .place__paragraph:first-of-type {
    margin-top: 2px;
  }
}
