.lead__image {
  display: block;
  margin: 64px auto 0;
  width: 100%;
  height: 615px;
  filter: grayscale();
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-top: 36px;
    height: 450px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-top: 40px;
    height: 187px;
  }
}
