.cover {
  box-sizing: border-box;
  margin: 92px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: calc(100% - 48px * 2);
  height: 740px;
  position: relative;
  z-index: 0;
  background: url("../../images/__background1280.jpg") no-repeat center / cover;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: 0.3;
  transition: all 0.2s;
  z-index: -1;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
    margin: 92px 0 0;
    height: 746px;
    background-image: url("../../images/__background768.png");
  }
}
@media screen and (max-width: 767px) {
  .cover {
    margin: 64px 0 0;
    height: 254px;
    background-image: url("../../images/__background320.png");
  }
}
