@import url('../vendor/normalize.css');
@import url('../vendor/fonts/inter.css');
@import url('../blocks/page/page.css');
@import url('../blocks/body/body.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/section/section.css');
@import url('../blocks/section/_narrow/section_narrow.css');
@import url('../blocks/section/_wide/section_wide.css');

@import url('../blocks/lead/lead.css');
@import url('../blocks/lead/__title/lead__title.css');
@import url('../blocks/lead/__subtitle/lead__subtitle.css');
@import url('../blocks/lead/__image/lead__image.css');
@import url('../blocks/intro/intro.css');

@import url('../blocks/intro/__title/intro__title.css');
@import url('../blocks/intro/__text/intro__text.css');
@import url('../blocks/intro/__text/_quote/intro__text_quote.css');
@import url('../blocks/intro/__text/_quote-author/intro__text_quote-author.css');
@import url('../blocks/intro/__text/_description/intro__text_description.css');

@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/photo-grid/__grid-item/photo-grid__grid-item.css');

@import url('../blocks/button/button.css');
@import url('../blocks/places/places.css');
@import url('../blocks/place/place.css');
@import url('../blocks/place/__artist/place__artist.css');
@import url('../blocks/place/__artist/_label/place__artist_label.css');
@import url('../blocks/place/__artist/_name/place__artist_name.css');
@import url('../blocks/place/__artist/_name/_second/place__artist_name_second.css');

@import url('../blocks/place/__button/place__button.css');
@import url('../blocks/place/__image/place__image.css');
@import url('../blocks/place/__paragraph/place__paragraph.css');
@import url('../blocks/place/__text/place__text.css');
@import url('../blocks/place/__title/place__title.css');

@import url('../blocks/cover/cover.css');

@import url('../blocks/cover/__title/cover__title.css');
@import url('../blocks/cover/__subtitle/cover__subtitle.css');
@import url('../blocks/cover/__button/cover__button.css');
@import url('../blocks/button/__link/button__link.css');
@import url('../blocks/footer/footer.css');
