.button {
  padding: 13px 20px;
  background: #0278fe;
  border-radius: 4px;
  border: none;
  width: fit-content;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.button:hover {
  cursor: pointer;
  background: #0063d2;
}
@media screen and (max-width: 330px) {
  .button {
    padding: 13px 40px;
  }
}
